* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #fff;
}
body {
    background-color: rgb(55, 149, 134);
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(img/Fodo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center center;
    height: 140vh;
    background-size: cover;
}

body::after {
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;

    position: fixed;
    content: "";
    inset: 0;


}


:root {
    --primario: rgb(0, 182, 118);
}

.contenedor {

    position: relative;
    z-index: 20;
    box-shadow: 20px 20px 40px rgba(102, 247, 242, 0.247);
    border-radius: 10px;
    margin: 10% auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 8, 31, 0.486);
    backdrop-filter: blur(7px);
    padding: 50px;
}

.contenedor__imagen img {
    position: absolute;
    left: 170px;
    top: -80px;
    border: #fff solid 7px;
    width: 200px;

    border-radius: 50%;
}

.contenedor__autor {
    margin-top: 110px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;

}

.contenedor__titulo {
    margin: 15px 0 0 20px;
    color: var(--primario);
    align-self: start;

    font-weight: bold;
    font-size: 50px;
}

.contenedor__descripcion {
    color: #ffffffa9;
    margin: 0 20%;
}

.contenedor__informacion {
    width: 480px;

    background-color: rgba(0, 6, 22, 0.521);
    padding: 30px;
    border-radius: 10px;
    border: #b9b9b9af solid 4px;
    color: #b9b9b9;
    font-size: 15px;

}

.contenedor__informacion li {
    margin: 10px auto;
    margin-left: 20px;
    list-style: circle;
    list-style-position: outside;
    text-align: start;
    align-items: start;
    justify-content: start;
}

.informacion__item {

    color: var(--primario);
    font-weight: bold;
    margin: 10px;
}

.informacion__item--descripcion {
    margin: 0 0 0 10px;
    line-height: 25px;
}

.contenedor__footer ul {
    color: #b9b9b9;
    margin: 20px auto;
    align-self: start;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-flow: row wrap;

}

.contenedor__footer li {
    margin: 0 10px;
    list-style: none;
}

.footer {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--primario);
    padding: 27px;
    width: 100%;
   
    flex-direction: column;


}

.footer__texto {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}

.footer__links {
    display: flex;
    flex-flow: row wrap;
}

.footer__links li {
    transition: .5s;
    border: transparent solid 2px;
    cursor: pointer;
    border-radius: 10px;
    padding: 7px;
    background-color: #003e4979;
    list-style: none;
    font-size: 17px;
    margin: auto 7px;
}

.footer__links li:hover{
    transform: scale(0.9);
    border: #fff solid 2px;
}

@media screen and (max-width: 600px) {
    .contenedor {
        width: 95%;
        margin: 17% auto;
        padding: 10px;

    }

    .contenedor__imagen img {
        width: 170px;
        left: calc(50% - 89px);
        top: -40px;
    }

    .contenedor__autor {
        margin-top: 150px;
        font-size: 30px;
    }

    .contenedor__titulo {
        font-size: 30px;
        margin-left: 4px;
    }

    .contenedor__informacion {
        width: 100%;
        padding: 15px;
    }

    .contenedor__footer ul {
        padding: 0;
        flex-direction: column;
    }

    .informacion__item--descripcion {
        margin: 0 0 0 10px;
        font-size: 14px;
        line-height: 20px;
    }
}